
#Sapp{
  position:absolute;
  margin-left: auto;
  margin-right: auto;
}
#Stop{
position: fixed;
top:0;
width:100%;
z-index: 1000;
}

#app{
  margin-top: 220px;
  width: 100%;
}
#Simagebar{
  width: 100%;
  height:100px;
}
#SappDivider{
  padding: 0;
  height: 25px;
  width: 100%;
}
#SappDivider img{
  position: absolute;
  top:0px;
  width:100%;
  height: 100%;
}

#Semblem{
  height:100px;
}

#Sbanner{
  height:100px;
  margin-right: auto;
  margin-left: auto;
}

#Sicon{
  height:100px;
  float:right;
  margin-right: 0px;
}

@media screen and (max-width: 1050px){
  #Sicon{
    display: none;
  }


}

@media screen and (max-width: 830px){
  #Sbanner{
    display: none;

  }
}

#Sapplication{
  position: absolute;
  top: 125px;
  height: 100%;
  width:100%;
  overflow-x: hidden;
  background-color:#E7E7E7;
  transition: 0.5s;
}

#Sactiveuser{
position: absolute;
right:90px;
top:0px;
color: white;
}

.Scolumn {
  position: relative;
    top: 125px;
    height: 100%;
    width: 0px;
    position: fixed;
    background-color: #10222f;
    transition: 0.5s;
    overflow-x: hidden;

}


/* The navigation menu links */
.Scolumn a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: flex;
    flex-flow: row;
    transition: 0.3s;
    overflow-x: hidden;
}

.Ssection{
  width:100%;
}

.center {
  width:100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.vcenter{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
