#Sintro{
  padding: 0;
  width:100%
}

#Sintromessage{
  position: relative;
  height:0;
  top:250px;
  z-index: 2;
  color:white;
  -webkit-text-stroke: 1px black;
}

#Swelcome-scroller{
  position: absolute;
  top:650px;
  right: 10px;
  z-index: 20;
  color:white;
  -webkit-text-stroke: 1px black;
  position: fixed;
  cursor: pointer;
}

#Sintro img{
  z-index: 1;
  position: relative;
  top:0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;

}

#Swelcome-skills{

}

#Swelcome-projects{

}

.Sinfoblock{
  position: relative;
  height:300px;
}
